body{
    background-color: black;
    color:white;
    font-family: roboto, Arial, sans-serif;
}

#scoreContainer,
#scoreLabel,
#endDesc,
#retryBtn,
#title {
  font-family: laquer, Arial, sans-serif;
  text-align: center;
}
.selections{
  display: flex;
  justify-content: center;
}
.selection:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px 1px;
    transition: 400ms;
  }

.selection{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 50px
  ;

}

.selection img{
  width: 300px;
}

.title{
  font-size: 50px;
  text-align: center;
}
  
#desc1,
#desc2,
#desc3{
  font-size: 25px;
  text-align: center;
}

.results-score {
  font-size: 80px;
  padding: 0px 40px;
}

#scoreLabel,
#scoreContainer {
  display: flex;
  justify-content: center;
}

.label {
  font-size: 30px;
  margin-top: 80px;
  padding: 0 40px;
}

#endDesc {
  font-size: 25px;
  margin-bottom: 25px;
}

#retryBtn {
  display: inline-block;
  padding: 0.8em 1.4em;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  color: #646464;
  background-color: rgb(245, 245, 245);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  position: relative;
  margin-top: 25px;
  opacity: 0;
}
#retryBtn:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transform: scale(1.05);
}

#end-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


